@import url('fonts/BrixSansRegular.css');
@import url('fonts/BrixSansBlack.css');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
p, label, span, table{
	font-family: 'BrixSansRegular';
	font-size: 7pt !important;
}
.h2{
	font-family: 'BrixSansBlack';
	font-size: 7pt !important;
}
.h3{
	font-family: 'BrixSansBlack';
	font-size: 7pt !important;
	display: block;
	background: #000000;
	color: #FFF;
	text-align: center;
	padding: 3px;
	margin-bottom: 2px;
	font-weight: bold;
}
#page_pdf{
	width: 95%;
	margin: 5px 5px 5px 5px;
}

#factura_head, #factura_cliente, #factura_detalle{
	width: 100% !important;
	margin-bottom: 4px;
}
.logo_factura{
	width: 20%;
}
.info_empresa{
	width: 100% !important;
	text-align: center;

}
.info_factura{
	width: 100% !important;
}
.info_cliente{
	width: 100% !important;
}
.datos_cliente{
	width: 100%;
}
.datos_cliente tr td{
	width: 50%;
}
.datos_cliente tr{
	justify-content: center;
}
.datos_cliente{
	padding-left: 5px;
	justify-content: center;
	align-items: center;

}
.datos_cliente label{
	width: auto !important;
	
	display: inline-block;	
	font-size: 7pt !important; 

}
.datos_cliente p{
	display: inline-block;
	justify-content: center !important;
	font-size: 7pt !important;
}

.textright{
	text-align: right;
}
.textleft{
	text-align: left;
}
.textcenter{
	text-align: center;
}
.round{
	border-radius: 5px;
	overflow: hidden;
	padding-bottom: 4px;
	border: 1px solid #000000 !important;
}
.round p{
	padding: 0 3px;
	font-size: 4pt;
}

#factura_detalle{
	border-collapse: collapse;

}

#factura_detalle thead th{
	color: rgb(252, 252, 252);
	padding: 1px;
	font-size: 10pt ;
	font-family: 'Courier New', Courier, monospace;
	background-color: black;
	
}
#factura_detalle td{
	font-size: 10pt ;
	font-family: 'Courier New', Courier, monospace;
}
#detalle_productos tr:nth-child(even) {
    background: #ededed;
}
#detalle_totales span{
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}
.nota{
	font-size: 6pt !important;
	color: #000000;

}
.label_gracias{
	font-family: verdana;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	margin-top: 10px;
	font-size: 6pt;
	
}
.anulada{
	position: absolute;
	width: 150px;
	height: 150px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
div img{
	width: 20px;
	height: 20px;

}
/* .ticket {
	width: 100% !important;
}
.ticket div{
	width: 45% !important;
	display: inline-block;
} */
.ticket div label, .ticket div p{
	font-size: 9pt !important;
	
	font-family: 'Courier New', Courier, monospace;

}
.ticket div label{
	font-weight: bold;
}
thead .cmanda{
	background-color: black;
	color: #fff !important;
}
.cmanda{
	font-size: 10pt !important;
}